<div class='text-center'id="post">
  <h5 id="post-title"><u>{{title}}</u></h5>
  <h6 class='text-start' id="post-opus">{{opus}}</h6>
  <h7>Created by {{user.name}} on {{format_date date_created}}</h7>
</div>
    {{#if isPoster}}
      <div class="row">
          <div class="col-md-1">
            <button class="btn btn-sm btn-warning" data-id="{{id}}">Edit</button>
          </div>
          <div class="col-md-1">
              <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
          </div>
      </div>
    {{/if}}
<div class="mt-5">
  <div>
    <form class='form new-post-comment-form'>
      <div class='form-group'>
        <label for='post-name'>Comment title:</label>
        </br>
        <input
          class='form-input'
          type='text'
          id='comment-title'
          name='comment-title'
        />
      </div>
      <div class='form-group'>
        <label for='post-body'>Comment tidbit:</label>
        </br>
        <textarea
          class='form-input'
          id='comment-tidbit'
          name='comment-tidbit'
        ></textarea>
      </div>
      <div class='form-group'>
        <input type="hidden" name="id" id="postId" value="{{id}}">
        <button type='submit' class='mt-3 btn btn-primary'>Comment?</button>
      </div>
    </form>
  </div>

  <section class="flex-row justify-center">
    {{> commentList }}
  </section>
</div>

<script src="/js/post.js"></script>
<script src="/js/comment.js"></script>